{% extends "MissionBundle::layout.html.twig" %}

{% block title "Portail SIO" %}
    
{% block body %}
    {{ parent() }}{% endblock %}
    {% block content %}
        <div class="row">
            <div class="col-md-12">
                <h2>Bienvenue dans cet espace des applications de la section SIO !</h2>
            </div>
        </div>
    {% endblock %}
